<!doctype html>
<html>
  <head>
    <title>Vincents super awesome playlist</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/script.js" defer></script>
  </head>
  <body>
    <ul>
      <% searches.forEach(function(search) { %>
        <li><%= search.artist %> - <%= search.title %></li>
      <% }); %>
    </ul>

    <form action="/" method="post">
      <label>
        Title
        <input name="title" type="text">
      </label>
      <label>
        Artist
        <input name="artist" type="text">
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
