body {
    color: rgba(0,0,0,.84);
    font-family: 'Ubuntu', sans-serif;
    
}

#chatbar {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 99%;


}

#chatbar input[type='text'] {
    width: 90%;
    padding: 0;
    margin: 0;
    height: 50px;
   
}

#chatbar button {
    height: 50px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

#tempaccount {
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;

 
    background-color: black;
}

form {
    max-width: 50%;
}

form input {
    background-color: transparent;
    appearance: none;
    border: none;
    width: 330px;
    border-bottom: 1px solid aliceblue;
}