extends layout

block content
  main
    h1 speech colorhanger
    p(class='hints')
    p tab/click then say a color to change the back
    div
      p(class='output')
        em diagnostic messages
    //- ul#messages
    //- form(action='')
    //-   input#m(autocomplete='off')
    //-   button Send
  

  script(srcipt src="js/script.js")
  //- script(src="/socket.io/socket.io.js")
  //- script(script src="https://code.jquery.com/jquery-1.11.1.js")
  //- script.
  //-   $(function () {
  //-   var socket = io();
  //-   $('form').submit(function(){
  //-       socket.emit('chat message', $('#m').val());
  //-       $('#m').val('');
  //-       return false;
  //-     });
  //-     socket.on('chat message', function(msg){
  //-       $('#messages').append($('<li>').text(msg));
  //-     });
  //-   });
