doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='msapplication-TileColor' content='#ffc40d')
    meta(name='theme-color' content='#ffffff')
    meta(name="Description" content="Drumkit mane") 
     
    title= title
    block css        
      link(rel='stylesheet', href='/css/style.css')
  body
    block content
